.idea/

data/*.txt
data/*.pkl

data/raw/*.pkl
data/raw/*.txt
data/raw/test/*
data/raw/train/*
data/raw/validation/*

data/processed/*.pkl
data/processed/*.txt
data/processed/test/*
data/processed/train/*
data/processed/validation/*

notebooks/.ipynb_checkpoints
